@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Circular Std';
    font-weight: 400;
    src: url(/fonts/Circular-Std/CircularStd-Book.woff) format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-weight: 500;
    src: url(/fonts/Circular-Std/CircularStd-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-weight: 600;
    src: url(/fonts/Circular-Std/CircularStd-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-weight: 700;
    src: url(/fonts/Circular-Std/CircularStd-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-weight: 800;
    src: url(/fonts/Circular-Std/CircularStd-Black.woff) format('woff');
}

@font-face {
    font-family: 'Circular Std';
    font-weight: 900;
    src: url(/fonts/Circular-Std/CircularStd-Black.woff) format('woff');
}

.btn-home-create {
    @apply shadow-btn-home-create rounded-md bg-violet-electric-indigo md:py-5 md:px-7 py-4 px-6;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', 'Circular Std', sans-serif, 'Inter';
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    line-height: 1.6;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    outline: 0 !important;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button:focus,
a:focus,
input:focus {
    outline: none;
}
a {
    color: #0070f3;
    text-decoration: none;
}
button:focus,
a:focus,
input:focus {
    outline: none;
}
a:hover {
    text-decoration: underline;
}

.outline-common {
    border: 1px solid #4a00e0 !important;
    outline: none !important;
}

.height-full-screen {
    height: calc(100vh - 4rem);
}

.text-resume-home-page {
    background: linear-gradient(92.15deg, #bc41f5 7.05%, #4a00e0 95.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline-text-resume-home-page {
    background-image: url('/images/home/underline-resume.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 7px;
}
.button-tips-active:hover > svg {
    color: #ffc107;
}
.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.frequently-questions {
    border: none !important;
}
.rc-collapse {
    border: none !important;
    border-radius: 0 !important;
}

.rc-collapse-content-box {
    margin: 0 !important;
}

.ReactModal__Body--open {
    overflow-y: hidden;
}
.button-skill,
.modal-option {
    opacity: 0;
}
.card-skill:hover .button-skill,
.card-history:hover,
.button-more:hover .modal-option {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.card-skill:hover .title-skill {
    color: #2196f3;
}

.iconTrash {
    opacity: 0;
}

.button-history:hover .iconTrash {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.input-common {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    max-height: 50px;
    border-radius: 6px;
    background: #f2f5fa;
    font-size: 14px;
    outline: none !important;
    border: none !important;
}

@media screen and (max-width: 640px) {
    .input-common {
        max-height: 48px;
    }
}

input.input-common::-webkit-input-placeholder {
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    opacity: 0.4;
}
.input-common:focus {
    border: 1px solid #4a00e0 !important;
    background: white;
    outline: none !important;
}

.input-common.error {
    border: 1px solid #fa5f4a !important;
    background: white;
}
.rangeslider-horizontal .rangeslider__handle:focus {
    outline: none;
}
.rangeslider-horizontal .rangeslider__handle {
    position: relative;
    transition: left 0.3s ease-out 0s, width 0.3s ease-out 0s;
    border: none !important;
    box-shadow: 0px 4px 10px rgba(36, 36, 36, 0.137) !important;
    z-index: 1;
}
.rangeslider-horizontal .rangeslider__handle:after {
    display: none !important;
}
.rangeslider-horizontal .rangeslider__handle:before {
    content: '||';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #80808099;
}
.rangeslider-horizontal {
    height: 15px !important;
}
.rangeslider,
.rangeslider .rangeslider__fill {
    box-shadow: none !important;
}
.rangeslider-horizontal .rangeslider__fill {
    background-color: #00e0b8 !important;
    transition: left 0.3s ease-out 0s, width 0.3s ease-out 0s;
}
.rangeslider {
    background-color: #f2f5fa !important;
}

.rangeslider__handle-label {
    position: relative;
}
.rangeslider__label-item::before {
    content: '';
    position: absolute;
    inset: -10px 0px 0px;
    width: 1px;
    height: 10px;
    top: -22px;
    margin-left: auto;
    margin-right: auto;
    background: #3d4e68;
    opacity: 0.15;
}
.rangeslider__label-item:first-child::before {
    display: none;
}
.tooltip-text {
    display: none;
}
.tooltip:hover .tooltip-text {
    display: block;
}

/* Draft js style */
.RichEditor-root {
    background: #f2f5fa;
    font-size: 14px;
    padding: 0 0 15px 15px;
    border-radius: 5px;
}

.DraftEditor-editorContainer {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 15px;
}

.RichEditor-editor {
    /* border-top: 1px solid #ddd; */
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
    line-height: 27px;
    letter-spacing: -0.2px;
    font-size: 14px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    user-select: none;
    border-right: 1px solid #cfd9e0;
    margin-right: 12px;
    margin-top: 15px;
}

.RichEditor-controls:last-child {
    border-right: 0;
    margin-right: 0;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 10px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}

.errorInput {
    color: #bf1650;
    padding-top: 4px;
}

.errorInput::before {
    display: inline;
    content: '⚠ ';
}
/* end */

@media screen and (max-width: 767px) {
    .custom-react-select__control {
        padding: 0 10px !important;
        background: rgba(255, 255, 255, 0.3);
    }
    .custom-react-select__menu-list {
        margin-left: 0 !important;
    }
    .custom-react-select__dropdown-indicator {
        padding-left: 0 !important;
    }
}

/* Style for loading */
.loading-section {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 11111;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.content-template-selection {
    margin: auto 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    inset: 0;
    overflow: auto;
}

@media screen and (min-width: 640px) {
    .content-template-selection {
        min-width: 640px !important;
        left: 50% !important;
        top: 140px !important;
        transform: translate(-50%, -70px);
    }
}

@media screen and (min-width: 1024px) {
    .content-template-selection {
        left: 50% !important;
        max-width: 980px !important;
        top: 140px !important;
        transform: translate(-50%, -70px);
    }
}

@media screen and (min-width: 1280px) {
    .content-template-selection {
        left: 50% !important;
        max-width: 1128px !important;
        top: 140px !important;
        transform: translate(-50%, -70px);
    }
}

@media screen and (min-width: 1536px) {
    .content-template-selection {
        left: 50% !important;
        max-width: 1400px !important;
        top: 140px !important;
        transform: translate(-50%, -70px);
    }
}

@layer utilities {
    /* Custom common styles */
    .btn-app-default {
        @apply bg-violet-electric-indigo no-underline text-white px-5 pb-15px pt-3 rounded-6px h-50px focus:outline-none flex items-center justify-center;
    }

    @media (min-width: 640px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 1024px) {
    }

    @variants focus {
    }
}

.crop-avatar.reactEasyCrop_CropArea::after,
.crop-avatar.reactEasyCrop_CropArea::before {
    content: none !important;
}
.uploadImage .rangeslider-horizontal {
    height: 10px !important;
}
.uploadImage .rangeslider-horizontal .rangeslider__handle {
    width: 20px;
    height: 20px;
}
.uploadImage .rangeslider-horizontal .rangeslider__handle:before {
    content: none;
}
.avatar-crop .rc-slider-rail {
    background: url('/images/line-dashed.png');
    height: 3px;
}
.avatar-crop .rc-slider-track {
    background-color: transparent;
}
.avatar-crop .rc-slider-handle {
    border: unset;
    width: 17px;
    height: 17px;
    margin-top: -7px;
}
.avatar-crop .rc-slider {
    height: auto;
}

.hidden-image {
    display: none !important;
}

.react-colorful__last-control {
    border-radius: 0 !important;
}

.rc-dropdown {
    z-index: 999999 !important;
}

.react-colorful {
    overflow: hidden;
}

.Toastify__toast-container {
    z-index: 999999 !important;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #a4a7ac;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.8);
    border-radius: 10px;
}

/* Rc-switch of virtual resume*/

.rc-virtual {
    width: 35px !important;
    height: 22px !important;
}

.rc-virtual:after {
    height: 18px !important;
    width: 18px !important;
    top: 2px !important;
}

.rc-virtual.rc-switch-checked:after {
    left: 14px !important;
}

.rc-analytics {
    inset: 20px;
    position: absolute;
    overflow-y: auto;
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .rc-analytics {
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        max-width: 1200px;
        border-right: 5px;
        width: calc(100% - 32px);
        padding: 0;
        border: 0;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    .line-container {
        position: relative;
        height: auto;
        width: 260px;
    }

    .pie-container {
        position: relative;
        height: auto;
        width: 160px;
    }
}
.checkout-container,
.cancel-subscription2 {
    min-height: 300px;
}

.checkout-container-loading {
    position: relative;
}
.checkout-container.checkout-container-loading {
    min-height: 464px;
}
.cancel-subscription2.checkout-container-loading,
.cancel-subscription.checkout-container-loading {
    min-height: 300px;
}
@keyframes paySpinner {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
.checkout-container-loading::before {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: url(https://resume.io/packs/media/payment/loading-spinner-145f41df.svg)
        no-repeat;
    animation: paySpinner 0.6s linear infinite;
    z-index: 1111111;
}
.checkout-container-loading::after {
    content: '';
    z-index: 111111;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
}

.cancel-subscription2.checkout-container-loading::after {
    background: #f7f9fc !important;
}

.background-footer-resume-dashboard {
    background-image: url('/images/banner-resume-dashboard.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.postion-unset > span{
    position: unset !important;
    height: 21.849vw !important;
    width: 21.849vw !important;
    border-radius: 50%;
}
.postion-unset > span img{
    position: unset !important;
}

.li_icons ul li {
    list-style: circle;
    list-style-position: inside;
}

.li_icons ol li {
    list-style: decimal;
    list-style-position: inside;
}